@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/*** HELPERS AND SETUP ***/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section__heading {
    line-height: 3rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}


/*** NAVBAR ***/

.navbar-wrapper {
    position: relative;
    padding-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar__item {
    margin-right: 1.5rem;
    font-size: 0.65rem;
}

.navbar__item--last {
    margin-right: 0;
}

.navbar__link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/*** HERO ***/

.hero {
    height: 550px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.25s;
}

.hero__description {
    position: absolute;
    width: 40%;
    margin-top: 13rem;
   text-align: right;
   z-index: 30;
}


/*** ABOUT ***/

.about {
    padding: 5rem 0;
    background-color: #fff;
}

.card {
    display: flex;
    width: 100%;
    max-height: 20rem;
    border: 10px solid #CFD9F3;
    margin-bottom: 5rem;
}

.card--even {
    border: none;
}

.card__image {
    width: 100%;
    height: auto;
    flex: 4;
}

.card__image--even {
    order: 2;
}

.card__description {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.4rem 0 1.4rem 3rem;

}

.card__description--even{
    order: 1;
}

.card__header {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
}

.card__text {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding-right: 6rem;
}

.program__pages {
    list-style: none;
    margin: 0;
    padding: 0;
}
.program__link {
    font-size: 0.8rem;
    color: #777;
}

/*** EVENT-CALENDAR ***/
.event-calendar {
    background-color: #CFD9F3;
    padding: 5rem 0;
}
.event-calendar__title {
    margin-bottom: 5rem;
}

.events-carousel {
    max-height: 300px;
    margin-bottom: 2rem;
}

.events-carousel__panels {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.events-carousel__panel {
    width: 23%;
}

.events-carousel__image {
    height: auto;
    width: 100%;
}

.event__date-range {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight:bold;
    line-height: 1.2rem;
}

.event__name {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2rem;
}

.event__details {
    font-size: .6rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.event__link {
    text-decoration: none;
    cursor: pointer;
    color: #777;
}

/*** TEACHERS **/
.teachers {
    background-color: #fff;
    padding: 5rem 0;
}

.teachers__title {
    text-align: center;
}
.teachers__container {
    width: 100%;
}

.teacher__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0;
}

.teacher__card {
    width: 15%;
}

.teacher__name {
    margin: 0.5rem 0 0 0;
    font-size: 0.75rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.teacher__info {
    margin: 0;
    font-size: .8rem;
    line-height: .8rem;
}

.teacher__link {
    color: #777;
    text-decoration: none;
    cursor: pointer;
}

.teacher__image {
    width: 100%;
    height: auto;
}

.location {
    margin-top: 3rem;
}

.location__map {
    width: 100%;
}

/*** FOOTER ***/
.footer {
    background-color: #CFD9F3;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__title {
    margin: 0;
    padding: 0;
}


.footer-navbar {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 3rem 0;
}

.footer-navbar__item {
    margin-right: 1rem;
    font-size: 0.65rem;
}

.footer-navbar__item--last {
    margin-right: 0;
}

.footer-navbar__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contact-info__address, .contact-info__email, .contact-info__phone {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    color: #333;
    text-decoration: none;
}

.contact-info__email {
    cursor: pointer;
}

/*** CAROUSEL ***/
.carousel__controls {
    position: relative;
}
.carousel__control {
    position: absolute;
    top: 250px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 50;
}

.carousel__control--left-control {
    left: 40px;
}

.carousel__control--right-control {
    right: 40px;
}
.carousel__slider {
    position: absolute;
    top: 500px;
    left: 50%;
}
.carousel__slide {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid #fff;
}

.carousel__images {
    position: absolute;
    top: 0;
    height: 550px;
    width: 100%;
    transform: translateX(0%);
    overflow: hidden;
}
.carousel__panels {
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateX(-100%)
}
.carousel__panel {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.carousel__panel--1 {
    background: url('../img/chris-yang-501380-unsplash.jpg') center center no-repeat;
    background-size: cover;
}
.carousel__panel--2 {
    background: url('../img/photo-1508807526345-15e9b5f4eaff.jpg') center center no-repeat;
    background-size: cover;
}
.carousel__panel--3 {
    background: url('../img/david-hofmann-579796-unsplash.jpg') center center no-repeat;
    background-size: cover;
}


/*** BUTTONS ***/

.btn {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.5rem 1.25rem;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover {
    background: #fff;
    color: #333;
    border-color: #333;
}

.btn--info, .btn--view-all {
    color: #999;
    border-color: #777;
    max-width: 35%;
}

.btn--view-all {
    display: block;
    margin: 0 auto;
}


/*** MEDIA QUERIES ***/

@media screen and (min-width:1100px) {

    body {
        background-color: #333;
    }
    .hero, .about, .carousel__images, .event-calendar, .teachers, .footer {

        width: 1100px;
        margin: 0 auto;
    }

}