body {
    background-color: #999999;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-layout {
    display: flex;
    justify-content: space-between;
}

.main-header__logo-img {
    width: 100%;
    height: auto;
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar__item {
    margin-right: 10px;
}

.navbar__item--last {
    margin-right: 0;
}