* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color: burlywood;
    overflow: hidden;
}

.element {
    width: 25%;
    height: 100%;
    /* transition: all 1s ease-in-out; */
}

.element-1 {
    background-color:cadetblue;
}

.element-2 {
    border: 1px solid black;
}